{template "content","header"}
<div class="main pdt">
    <div class="page_banner fb-position-relative">
        <img class="fb-position-absolute" src="{$CATEGORYS[22][image]}" alt="">
    </div>
    <div class="main_content">
      <div class="about_company w1200">
          {$content}
      </div>
        <div class="sense w1200 fb-clearfix">
            <div class="sense_s01 fb-transition fb-float-left">
                <p>五感</p>
                <span>OUR FIVE SENSE </span>
            </div>
            <div class="sense_s02 fb-transition  sense_s fb-float-left">
                <p>使命感</p>
                <span>让所有客户发货更方便</span>
            </div>
            <div class="sense_img fb-float-left"><img class="fb-transition" src="{CSS_PATH}shituo/images/sense1.png" alt=""></div>
            <div class="sense_img fb-float-left"><img class="fb-transition" src="{CSS_PATH}shituo/images/sense2.png" alt=""></div>
            <div class="sense_s03 fb-transition  sense_s fb-float-left">
                <p>归属感</p>
                <span>让客户、员工成为一家人</span>
            </div>
            <div class="sense_s04 fb-transition  sense_s fb-float-left">
                <p>成就感</p>
                <span>让客户体验不一样优质服务</span>
            </div>

            <div class="sense_s05 fb-transition  sense_s fb-float-left">
                <p>责任感</p>
                <span>协助客户与员工一起成长</span>
            </div>
            <div class="sense_s06 fb-transition  sense_s fb-float-left">
                <p>荣誉感</p>
                <span>帮助客户与员工不断成功</span>
            </div>
            <div class="sense_img fb-float-left"><img class="fb-transition" src="{CSS_PATH}shituo/images/sense3.png" alt=""></div>


        </div>
    </div>
</div>
{template "content","footer"}
</body>
</html>
