{template "content","header"}
    <div class="main pdt">
        <div class="page_banner fb-position-relative" >
            <img class="fb-position-absolute" src="{$CATEGORYS[13][image]}" alt="">
        </div>
        <div class="main_content">
            <div class="news_con fb-clearfix w1200">
                <div class="news_detail fb-float-left">
                    <div class="home_position">
                        <p>当前位置：{php $l = catpos($catid);echo Substr($l,0,-3);}</p>
                    </div>
                    <div class="fb-article">
                        <div class="fb-article-title">{$title}</div>
                        <div class="fb-article-source">
                            <div class="date fb-inlineBlock">{date('Y-m-d',time($inputtime))}</div>
                            <div class="source fb-inlineBlock">来源：{$copyfrom}</div>
                        </div>
                        <div class="fb-article-content">
                            {$content}
                        </div>
                    </div>
                </div>
                <div class="hot_news fb-float-right">
                    <div class="hot_box">
                        <div class="hot_title">热点新闻</div>
						{php $i=1}
						{pc:content action="position" posid="18" catid="" order="id DESC" num="8" }
						{loop $data $n $r}
						<div class="hot_item fb-overflow-2"><a href="{$r['url']}">{$i}.{$r['title']}</a></div>
						{php $i++}
						{/loop}
						{/pc}
                    </div>

                </div>
            </div>
        </div>
    </div>
	{template "content","footer"}
</body>
</html>
