{template "content","header"}
    <div class="main pdt">
        <div class="page_banner fb-position-relative" >
            <img class="fb-position-absolute" src="{$CATEGORYS[18][image]}" alt="">
        </div>
        <div class="main_content">
            <div class="line_con fb-clearfix w1200">
                <div class="line_tab fb-float-left">
                    {template "content","express_left"}
                </div>
                <div class="line_search_content fb-float-right">
                    <div class="line_search">
                        <form action="index.php?m=content&c=index&a=cargo_tracking&catid={$catid}" method="post">
							<input type="submit" value="{SL('query')}" class=" fb-inlineBlock opa_active">
							<div class="search_form fb-inlineBlock">广州世拓</div>
                            <label for="" class="fb-inlineBlock">{SL('company')}</label>
                            <input type="text" name="search_num" class="search_num fb-inlineBlock">
							<label for="" class="fb-inlineBlock">{SL('number')}</label>

                        </form>
                    </div>
                    <div class="line_search_text">
                        {if $waybill_data}
                        <div class="line_search_text_title"  style="unicode-bidi:embed !important;">{SL('number')}：{$waybill_data['number']}</div>
                        <div class="line_search_text_resule fb-position-relative">
                            {if $logistics_data}
                            {php $i=0;}
                            {loop $logistics_data $val}
                            {if $val[$GLOBALS['prefix'].'content']}
                                {if $i ==0}
                                <div class="line_search_text_resule_item fb-position-relative first">
                                    <label><?php echo $val[$GLOBALS['prefix'].'content'];?></label></p>
                                    <span style="unicode-bidi:embed !important;">{date('s:i:H d-m-Y ',$val[addtime])}</span>
                                </div>
                                {else}
                                <div class="line_search_text_resule_item fb-position-relative">
                                    <p><?php echo $val[$GLOBALS['prefix'].'content'];?></p>
                                     <span style="unicode-bidi:embed !important;">{date('s:i:H d-m-Y ',$val[addtime])}</span>
                                </div>
                                {/if}
                                {php $i++}
                            {/if}
                            {/loop}
                            {/if}

                        </div>
						{elseif $_POST['search_num']}
							 <div class="line_search_text_title">{SL('number')}：{$_POST['search_num']}</div>
                            <div class=" fb-position-relative" style="text-align:center;font-size:16px;line-height:60px;">
                              {SL('no_active')}

                            </div>

						{else}

                            <div class=" fb-position-relative" style="text-align:center;font-size:16px;line-height:60px;">
							  {SL('not_querying')}
                            </div>
                        {/if}
                    </div>
                </div>

            </div>
        </div>
    </div>
    {template "content","footer"}
</body>
</html>
