{template "content","index_header"}
<div class="main pdt">
    <div class="banner_box fb-position-relative">
        <div class="fb-banner-slide fb-position-relative">
            <div class="fb-banner-slide-zone fb-clearfix fb-position-relative">
                {pc:content action="category" catid="51" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="fb-banner-slide-item fb-float-left">
                    <div class="fb-banner-img"><a href="{if !$r['url'] && $r['url']!='#'}{$r[url]}{else}javascript:;{/if}"><img src="{$r['image']}" alt=""></a></div>
                </div>
                {/loop}
                {/pc}
            </div>
            <div class="fb-banner-spot fb-position-absolute">
                <div class="fb-spot-item fb-spot-item-active fb-inlineBlock"></div>
                <div class="fb-spot-item fb-inlineBlock"></div>
                <div class="fb-spot-item fb-inlineBlock"></div>
            </div>
            <!--<div class="fb-banner-prev fb-position-absolute fb-transition"></div>-->
            <!--<div class="fb-banner-next fb-position-absolute fb-transition"></div>-->

        </div>
        <div class="w1200 fb-position-absolute cargoTracking_box">
            <div class="cargoTracking">
                <div class="cargoTracking_title"><?php echo $CATEGORYS[20][$GLOBALS['prefix']."catname"]; ?></div>
                <form action="index.php?m=content&c=index&a=cargo_tracking&catid=20" style="text-align: right">
                    <div class="item">

                        <div class="search_form fb-inlineBlock">广州世拓</div>
                        <label  class="fb-inlineBlock">{SL('company')}</label>
                    </div>
                    <div class="item">
                         <input type="submit" name="dosubmit" value="{SL('query')}" class=" fb-inlineBlock opa_active">
                        <input type="text" name="search_num" class="search_num fb-inlineBlock">
                        <label class="fb-inlineBlock">{SL('number')}</label>

                    </div>
                </form>
                <div class="customer_phone">{SL('contact_us')}：<span><?php echo $CATEGORYS[50]['description'];?></span></div>
            </div>
        </div>
    </div>
    <div class="product_zone w1200">
        <div class="product_ky fb-position-relative fb-transition">
            <div class="product_ky_img fb-position-absolute fb-transition"><img src="{$CATEGORYS[9][image]}" alt=""></div>
            <div class="product_ky_text  fb-position-absolute fb-transition">
                <div class="p_title"><?php echo $CATEGORYS[9][$GLOBALS['prefix']."catname"] ?></div>
                <div class="p_content">
                    {pc:get sql="SELECT * FROM shituo_page where catid=9"}
                    {loop $data $key $val}
                    <?php echo str_cut(strip_tags($val[$GLOBALS['prefix']."content"]),400,"...");?>
                    {/loop}
                    {/pc}
                </div>
                <div class="p_more fb-position-absolute"><a href="{$CATEGORYS[19][url]}">{SL('more')}</a></div>
            </div>
        </div>
        <div class="product_hy fb-position-relative fb-transition">
            <div class="product_hy_text  fb-position-absolute fb-transition">
                <div class="p_title"><?php echo $CATEGORYS[10][$GLOBALS['prefix']."catname"] ?></div>
                <div class="p_content">
                    {pc:get sql="SELECT * FROM shituo_page where catid=10"}
                    {loop $data $key $val}
                    <?php echo str_cut(strip_tags($val[$GLOBALS['prefix']."content"]),400,"...");?>
                    {/loop}
                    {/pc}
                </div>
                <div class="p_more fb-position-absolute"><a href="{$CATEGORYS[19][url]}">{SL('more')}</a></div>
            </div>
            <div class="product_hy_img fb-position-absolute fb-transition"><img src="{$CATEGORYS[10][image]}" alt=""></div>
        </div>
    </div>
    <div class="showDate">
        <div class="w1200">
            {pc:get sql="SELECT * FROM shituo_page where catid=54"}
            {loop $data $key $val}
            <?php echo $val[$GLOBALS['prefix']."content"];?>
            {/loop}
            {/pc}
        </div>
    </div>
    <div class="homeNews fb-clearfix ">
        <div class="w1200">
            <div class="homeNews_title fb-float-left">
                <div class="homeNews_title_top">
                    <p>{SL('index_new')}</p>
                    <span>NEWS INFORMATION</span>
                </div>
                <div class="homeNews_title_bottom fb-position-relative">
                    <div class="page">
                        <span>01</span>/02
                    </div>
                    <div class="homeNews_page_prev fb-position-absolute fb-transition"></div>
                    <div class="homeNews_page_next fb-position-absolute fb-transition"></div>
                </div>
            </div>
            <div class="homeNews_list_zone fb-float-left">
                <div class="homeNews_list fb-position-relative">
                    {pc:content action="position" posid="2" catid="" order="id DESC" num="6"  return="pdata"}
					{php $i = 0}
					{loop $pdata $n $p}
					{php $i++}
						{php $id = $p[id];$cid = $p[catid];}
						{php $where = "id=$id"}
					    {pc:content action="lists" catid="$cid" where="$where" moreinfo="1" num="1" return="cdata"}
					    <!--使用where属性指定id，使用moreinfo属性指定获取副表信息-->
					    {loop $cdata $c}
                        {if $i%2 == 0}
                        <div class="homeNews_item fb-float-left">
                            <a href="{$c['url']}">

                                <div class="text fb-transition">
                                    <div class="n_title fb-overflow-2"><?php echo $c[$GLOBALS['prefix']."title"];?></div>
                                    <div class="n_content fb-overflow-3"><?php echo str_cut(strip_tags($c[$GLOBALS['prefix']."content"]),300,"...");?>
                                    </div>
                                    <div class="n_date">{date('Y-m-d',$c[inputtime])}</div>
                                </div>
                                <div class="img">
                                    <img src="{$c['thumb']}" alt="">
                                </div>
                            </a>
                        </div>
                        {else}
                        <div class="homeNews_item fb-float-left">
                            <a href="{$c['url']}">
                                <div class="img">
                                    <img src="{$c['thumb']}" alt="">
                                </div>
                                <div class="text fb-transition">
                                    <div class="n_title fb-overflow-2"><?php echo $c[$GLOBALS['prefix']."title"];?></div>
                                    <div class="n_content fb-overflow-3"><?php echo str_cut(strip_tags($c[$GLOBALS['prefix']."content"]),300,"...");?>
                                    </div>
                                    <div class="n_date">{date('Y-m-d',$c[inputtime])}</div>
                                </div>
                            </a>
                        </div>
                        {/if}
						{/loop}
						{/pc}
					{/loop}
					{/pc}
                </div>
            </div>
        </div>
    </div>
    <div class="home_ad fb-position-relative">
        <a href="{$CATEGORYS[6][url]}"><img class="fb-position-absolute" src="{CSS_PATH}shituo/images/home_ad.png" alt=""></a>
    </div>
    <div class="fb-figureCarousel fb-position-relative branchOffice w1200">
        <div class="fb-figureCarousel-boxOverflow ">
            <div class="fb-figureCarousel-box fb-position-relative">
                {pc:content action="lists" catid="55" order="id ASC" moreinfo="1"}
                {loop $data $n $r}
                <div class="fb-figureCarousel-item fb-float-left branchOffice_item">
                    <div class="n_text">
                        <div class="n_title"><?php echo $r[$GLOBALS['prefix']."title"];?></div>
                        <div class="n_map">地址：<?php echo $r[$GLOBALS['prefix']."address"];?></div>
                        <div class="n_phone">电话：<?php echo $r[$GLOBALS['prefix']."phone"];?></div>
                    </div>
                    <div class="n_img"><img src="{$r['thumb']}" alt=""></div>
                </div>
                {/loop}
                {/pc}

            </div>
        </div>
        <div class="fb-figureCarousel-spot fb-position-absolute">
            <!--<div class="fb-spot-item fb-spot-item-active fb-inlineBlock"></div>-->
            <!--<div class="fb-spot-item fb-inlineBlock"></div>-->
        </div>
        <div class="fb-figureCarousel-left fb-position-absolute"></div>
        <div class="fb-figureCarousel-right fb-position-absolute"></div>
    </div>
    <div class="logistics_line w1200">
        <div class="title_n">{SL('line')}</div>
        <div class="title_desc"><?php echo $CATEGORYS[19][$GLOBALS['prefix'].'description'];?></div>
        <div class="logistics_line_con">
            <ul class=" fb-clearfix">
                {pc:content action="category" catid="19" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <li>
                    <a href="{$r[url]}">
                        <div class="img"><img src="{$r[image]}" alt="{$r[catname]}"></div>
                        <div class="text"><?php echo  $r[$GLOBALS['prefix']."catname"] ?></div>
                    </a>
                </li>
                {/loop}
                {/pc}
            </ul>
        </div>
    </div>
</div>
{template "content","footer"}
<script>
    //        $fb(".fb-banner-fade").banner_fade({
    //            speed : 1200,//unit: 滑动速度
    //            interval : 5000,//unit:轮播图间隔
    //            transitionalStyle:"fb-banner-img-big"
    //        });
    $fb(".fb-banner-slide").banner_slide({
        speed: 500,//unit: 滑动速度
        interval: 5000,//unit:轮播图间隔
        transitionalStyle: "fb-banner-img-big"
    });
    $(function () {
        var new_index = 0;
        var news_count = parseInt($(".homeNews_item").length / 3);

        news_count = $(".homeNews_item").length % 3 == 0 ? news_count : news_count + 1;
        $(".homeNews_page_prev").on("click", function () {
            new_index = --new_index < 0 ? news_count - 1 : new_index;
            var nowPage = new_index + 1 < 10 ? '0' + (new_index + 1) : new_index;
            $(".homeNews_title .page span").text(nowPage);
            $(".homeNews_list").stop().animate({
                left: -new_index * 900
            })
        })
        $(".homeNews_page_next").on("click", function () {
            new_index = ++new_index > news_count - 1 ? 0 : new_index;
            var nowPage = new_index + 1 < 10 ? '0' + (new_index + 1) : new_index;
            $(".homeNews_title .page span").text(nowPage);
            $(".homeNews_list").stop().animate({
                left: -new_index * 900
            })
        })
        var r = null;
        $(".homeNews_list").hover(function () {
            clearInterval(r)
        }, function () {
            runB();
        })
        function runB() {
            r = setInterval(function () {
                new_index = ++new_index > news_count - 1 ? 0 : new_index;
                var nowPage = new_index + 1 < 10 ? '0' + (new_index + 1) : new_index;
                $(".homeNews_title .page span").text(nowPage);
                $(".homeNews_list").stop().animate({
                    left: -new_index * 900
                })
            }, 5000)
        }

        runB();
    })
    $fb(".fb-figureCarousel").figureCarousel({
        speed: 500, //滑动速度
        showNum: 3, //显示次
        boxWidth: 360, //盒子宽度
        boxHeight: 550, //盒子高度
        width: 360, //图片宽度
        height: 270, //图片高度
        //暂时不支持以下参数
        autoPlay: false, //是否自动轮播
        interval: 3000, //轮播间隔
        pagination: true,//分页器
    });

    $(window).on("scroll",function(){
        var product_ky_flag = false;
        var product_hy_flag = false;
        var showDate_flag = false;
        var scrollTop = $(window).scrollTop();
        var product_ky_top = $(".product_ky ").offset().top;
        var product_hy_top = $(".product_hy ").offset().top;
        var showDate_top = $(".showDate").offset().top;
        if(scrollTop > product_ky_top-$(window).height()){
            if(!product_ky_flag){
                product_ky_flag = true;
                $(".product_ky").css("opacity",1);
                setTimeout(function(){
                    $(".product_ky .product_ky_img").css({"left":0,"opacity":1})
                    $(".product_ky .product_ky_text").css({"right":0,"opacity":1})
                },300)
//                $(".product_hy").css("opacity",1);
//                setTimeout(function(){
//                    $(".product_hy .product_hy_img").css("right",0)
//                    $(".product_hy .product_hy_text").css("left",140)
//                },500)
            }
        }
        if(scrollTop > product_hy_top-$(window).height()){
            if(!product_hy_flag){
                product_hy_flag = true;

                $(".product_hy").css("opacity",1);
                setTimeout(function(){
                    $(".product_hy .product_hy_img").css({"right":0,"opacity":1})
                    $(".product_hy .product_hy_text").css({"left":140,"opacity":1})
                },300)
            }
        }
        if(scrollTop > showDate_top-$(window).height()){
            if(!showDate_flag){
                showDate_flag = true;
                $(".showDate .showDate_item01").css({"marginTop":0,"opacity":1})
                setTimeout(function () {
                    $(".showDate .showDate_item02").css({"marginTop":0,"opacity":1})
                },500)
                setTimeout(function () {
                    $(".showDate .showDate_item03").css({"marginTop":0,"opacity":1})
                },1000)
                setTimeout(function () {
                    $(".showDate .showDate_item04").css({"marginTop":0,"opacity":1})
                },1500)


            }
        }
    })
</script>
