{template "content","header"}
<div class="main pdt">
    <div class="page_banner fb-position-relative" >
        <img class="fb-position-absolute" src="{CSS_PATH}shituo/images/person_banner.png" alt="">
    </div>
    <div class="main_content">
        <div class="person_con ">
            <div class="person_head">
                <div class="img"><img src="{CSS_PATH}shituo/images/person.png" alt=""></div>
                <div class="name">{$memberinfo['nickname']}</div>
            </div>
            <div class="person_info">
                <div class="person_info_title">{SL('information')}</div>
                <div class="person_info_item fb-clearfix">
                    <label>{SL('account')}</label>
                    <span>{$_username}</span>
					<div class="update update_exit"><a style="color:#e4b698" href="/index.php?m=member&c=index&a=logout">{SL('exit')}</a></div>
                </div>
                <div class="person_info_item fb-clearfix">
                    <label>{SL('nickname')}</label>
                    <span>{$memberinfo['nickname']}</span>
                    <div class="update update_name">{SL('modify')}</div>

                </div>
                <div class="person_info_item fb-clearfix">
                    <label>{SL('password')}</label>
                    <span>{SL('modify_password_suggest')}</span>
                    <div class="update update_pass">{SL('modify')}</div>
                </div>
            </div>
            <div class="myDelivery">
                <div class="myDelivery_title">{SL('my_express')}</div>
                <div class="myDelivery_con fb-clearfix">
                    {if $waybill_data}
                    {loop $waybill_data $val}
                    <div class="myDelivery_item fb-float-left fb-transition">
                        <a href="index.php?m=content&c=index&a=cargo_tracking&catid=20&search_num={$val['number']}">
                            <div class="n_title">{SL('express_number')}：{$val['number']}</div>
                            <div class="n_con fb-overflow-2">{SL('newest')}：<?php echo $val['logistics_data'][$GLOBALS['prefix'].'content'];?></div>
                            <div class="n_date">{date('Y-m-d H:i:s',$val['logistics_data'][addtime])}</div>
                        </a>
                    </div>
                    {/loop}
                    {else}
                    <div class="nomyDelivery_item">{SL('no_express')}</div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
{template "content","footer"}
<script>
    $(function(){

        $(".update_name").on("click",function(){
            var that = $(this);
            $fb.showModal({
                title : '修改昵称',//提示的标题
                textBox:'input', //input：为input；textarea：为textarea
                placeholder:that.prev("span").text()//文本框提示
            },function(val){
                $fb.loading();
                var nickname  = val;
        		$.post('index.php?m=member&c=ajax&a=account_manage_info', 'nickname='+nickname, function(data){
                    $fb.closeLoading();
                    if(data.code == 1){
                        that.prev("span").text(val)
    					$fb.fbNews({"type":"success","content":data.message});
                    }
                    else{
                        $fb.fbNews({"type":"warning","content":data.message});
                    }
                }, "json");
                return false;
            })
        })
        $(".update_pass").on("click",function(){
            var that = $(this);
            $fb.showModal({
                name :'newpassword',
                title : '修改密码',//提示的标题
                textBox:'input', //input：为input；textarea：为textarea
                placeholder:'********'//文本框提示
            },function(val){
                $fb.loading();
                var newpassword  = val;
        		$.post('index.php?m=member&c=ajax&a=account_manage_password', 'newpassword='+newpassword, function(data){
                    $fb.closeLoading();
                    if(data.code == 1){
    					$fb.fbNews({"type":"success","content":data.message});
                    }
                    else{
                        $fb.fbNews({"type":"warning","content":data.message});
                    }

                }, "json");
                return false;
            })
        })
    })
</script>
</body>
</html>
